<% schedules.forEach(function(x) { %>
<li>
  <div class="meta">
    <% if(x.steps.length <= 1) { %>
       <span class="steps">Direct</span>
       <% } else { %>
       <span class="steps">
         <span class="value"><%= x.steps.length %></span>
         <span class="changements"></span>
       </span>
       <% } %>
       <span class="duration">
         <span class="egg-timer"></span>
         <span class="value"><%= x.duration %></span>
       </span>
  </div>
  <div class="start-end">
    <span class="start"><%= x.start %></span>
    <span class="to"></span>
    <span class="end"><%= x.end %></span>
  </div>
</li>
<% }); %>
