node_modules
project/www/css
project/www/js
project/www/index.html
project/bower_components
src/ts/**/*.js
*.log

#=============#
# IOS / XCODE #
#=============#

*.mobileprovision

#=============#
#     MISC    #
#=============#

private.json
