node_modules
project/www
project/bower_components
src/ts/**/*.js
*.log

#=============#
# IOS / XCODE #
#=============#

*.mobileprovision

#=============#
#     MISC    #
#=============#

private.json
