<section class="view hidden" id="trip">
  <div class="top-bar title">
    <span class="start">Chartres</span>
    <span class="to"></span>
    <span class="start">Paris-Montparnasse 1-2</span>
  </div>
  <div id="">
    <ul class="stops" id="<%= trip.id %>">
      <li>
        <span class="at">08:57</span>
        <div class="stop">
          <span class="name">Chartres</span>
          <span class="waiting">5 min</span>
        </div>
      </li>
      <li>
        <span class="at">08:57</span>
        <div class="stop">
          <span class="name">Chartres</span>
          <span class="waiting">5 min</span>
        </div>
      </li>
      <li>
        <span class="at">08:57</span>
        <div class="stop">
          <span class="name">Chartres</span>
          <span class="waiting">5 min</span>
        </div>
      </li>
    </ul>
  </div>
</section>
