@import 'colors';

clear-button() {
    margin: 0
    padding: 0
    font-size: 0
    border: none
    background: transparent
    outline: none
}

/* backward_button(size) { */
/*     clear-button() */
/*     icon('left-arrow', size, size, blue, size) */
/* } */

/* forward_button(size) { */
/*     clear-button() */
/*     icon('right-arrow', size, size, blue, size) */
/* } */

reset_button() {
    clear-button()
    background: url('../../images/cross.svg') no-repeat center
    background-size: 100%
}

forward_button() {
    clear-button()
    background: url('../../images/arrow-right.svg') no-repeat center
    background-size: 100%
}