@import 'reset';
@import 'colors';
@import 'font';

global-reset()

* {
    -webkit-font-smoothing: antialiased
    font-family-light()
}

html {
    height: 100%
    overflow: hidden
}

h1 {
    font-family-medium()
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-appearance: none
    padding-left: 8px
    box-sizing: border-box
    width: 100%
    color: grey-dark
    outline: none
    border: 1px solid grey

    &:focus {
        border-color: blue
    }
    
    &[type=text] {
        border-radius: 6px
    }
}

.container {
    padding: 8px
}

header {
    position: relative
    display: flex
    justify-content: center
    padding-left: 10px
    z-index: 2
    width: 100%
    background: blue
    color: #FFF
    box-sizing: border-box

    h1 {
        margin: auto
    }
}

#viewport {
    width: 100%
}

.view {
    &.hidden {
        display: none !important
    }
}

.list {
    li {
        padding: 14px 8px 14px 8px
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid grey-light
        box-sizing: border-box
        color: grey-dark
    }
}

.btn {
    display: inline-block
    border: 1px solid green
    outline: none
    color: green
    border-radius: 4px
    background: #FFF
    margin: 0

    &.active {
        background: green
        color: #FFF
    }
}
