@import 'reset';
@import 'colors';
@import 'font';
@import 'buttons';

global-margin-right=4%

global-reset()

input::-webkit-input-placeholder {
    color: grey
    font-family-light()
}

input:-moz-placeholder {
    color: grey
    font-family-light()
}

input::-moz-placeholder {
    color: grey
    font-family-light()
}

input:-ms-input-placeholder {
    color: grey
    font-family-light()
}

.ios7 header {
    padding-top: 18px
    .back-btn {
        top: 8px
    }
}

header .back-btn {
    display: none
    backward_button()
    padding: 2%
}

.ios header {
    .back-btn {
        display: block
        position: absolute
        height: 100%
    }
}

html {
    height: 100%
    overflow: hidden
}

body {
    overflow: hidden
    height: 100%
    width: 100%
    position: absolute
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -webkit-font-smoothing: antialiased
    font-family-light()
}

h1 {
    font-family-bold()
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-appearance: none
    padding-left: 8px
    box-sizing: border-box
    width: 100%
    color: dark-blue
    outline: none
    border: none

    &:focus {
        border-color: blue
    }

    &:disabled {
        background-color: #FFF
        opacity: 1 !important
    }
}

.container {
    padding: 8px
}

.top-bar {
    background: dark-blue
    color: #FFF
}

header {
    overflow: hidden
    position: relative
    display: flex
    justify-content: center
    z-index: 2
    width: 100%
    background: blue
    color: #FFF
    box-sizing: border-box
    transition: .2s
    transition-property: height

    &.fold {
        height: 0
        padding: 0
    }

    &.hidden {
        display: none
    }

    h1 {
        margin: auto
    }
}

.setup-progress {
    display: none;
    text-align: center
    box-sizing: border-box
    background: dark-green
    position: relative
    color: #FFF
    font-size: 12px
    transition: 0.2s
    transition-property: height
    height: 0

    .text {
        position: relative
        z-index: 1
    }

    .bar {
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 0%
        background: green
        transition: 0.2s
        transition-property: width
    }

    &.on {
        height: 100%
    }
}

#viewport {
    width: 100%
}

.view {
    &.hidden {
        display: none !important
    }
}

.list {
    li {
        color: grey
        padding: 0 8px 0 8px
        display: flex
        align-items: center
        border-bottom: 2px solid grey-blue
        box-sizing: border-box
        width: 100%
    }
}
