@import 'buttons';
@import 'icons';

scale(value, factor)
  value * factor

header_height_portrait = 44px
header_size_portrait = 17px
input_height_portrait = 34px
input_size_portrait = 14px
h2_size_portrait = 17px
btn_size_portrait = 18px
back_btn_size_portrait = 30px

header_height_landscape = 32px
header_size_landscape = 12px
input_height_landscape = 25px
input_size_landscape = 10px
h2_size_landscape = 12px
btn_size_landscape = 13px
back_btn_size_landscape = 18px

device(min_width, max_width, factor)
    portrait = "only screen and (min-device-width : " + min_width + ") and (max-device-width : " + max_width + ")"
    @media portrait
        header, .list li {
            height: scale(header_height_portrait, factor)
            font-size: scale(header_size_portrait, factor)
        }

        input {
            height: scale(input_height_portrait, factor)
            font-size: scale(input_size_portrait, factor)
        }

        h2 {
            font-size: scale(h2_size_portrait, factor)
        }

        .btn {
            font-size: scale(btn_size_portrait, factor)
        }

        back_button(scale(back_btn_size_portrait, factor))

    landscape = "only screen and (min-device-width : " + min_width + ") and (max-device-width : " + max_width + ") and (orientation : landscape)"
    @media landscape
        header, .list li {
            height: scale(header_height_portrait, factor)
            font-size: scale(header_size_portrait, factor)
        }

        input {
            height: scale(input_height_portrait, factor)
            font-size: scale(input_size_portrait, factor)
        }

        h2 {
            font-size: scale(h2_size_portrait, factor)
        }

        .btn {
            font-size: scale(btn_size_portrait, factor)
        }

        back_button(scale(back_btn_size_landscape, factor))

// IPHONE (default)
@media only screen {
    header, .list li {
        height: header_height_portrait
        font-size: header_size_portrait
    }

    input {
        height: input_height_portrait
        font-size: input_size_portrait
    }

    h2 {
        font-size: h2_size_portrait
    }

    .btn {
        font-size: btn_size_portrait
    }

    back_button(scale(back_btn_size_portrait, 1))
}

@media only screen and (orientation : landscape) {
    header, .list li {
        height: header_height_portrait
        font-size: header_size_landscape
    }

    input {
        height: input_height_landscape
        font-size: input_size_landscape
    }

    h2 {
        font-size: h2_size_landscape
    }

    .btn {
        font-size: btn_size_landscape
    }

    back_button(scale(back_btn_size_landscape, 1))
}

// IPAD
device(768px, 1024px, 2)

// NEXUS 10
device(800px, 1280px, 2)

// NEXUS 4
device(384px, 640px, 1.2)

// NEXUS 5
device(360px, 640px, 1.2)