@import 'buttons';
@import 'icons';

scale(value, factor)
  value * factor

header_height=64px
header_size=18px
item_height=66px
item_size=18px
input_height=66px
input_size=18px
btn_size=22px

device(min_width, max_width, factor)
    portrait = "only screen and (min-device-width : " + min_width + ") and (max-device-width : " + max_width + ")"
    @media portrait
        header {
            height: scale(header_height, factor)
            font-size: scale(header_size, factor)
        }

        .list li {
            height: scale(item_height, factor)
            font-size: scale(item_size, factor)
        }

        input {
            height: scale(input_height, factor)
            font-size: scale(input_size, factor)
        }

        .font:before {
            font-size: scale(btn_size, factor)
        }

        button.reset {
            width: scale(btn_size, factor)
        }


// IPHONE 5 (default)
@media only screen {
    header {
        height: header_height
        font-size: header_size
    }

    .list li {
        height: item_height
        font-size: item_size

    }

    input {
        height: input_height
        font-size: input_size
    }

    button.reset {
        width: btn_size
    }

    .font:before {
        font-size: btn_size
    }
}

// IPAD
device(768px, 1024px, 2)

// NEXUS 10
device(800px, 1280px, 2)

// NEXUS 4
device(384px, 640px, 1.2)

// NEXUS 5
device(360px, 640px, 1.125)
