@import 'colors';
@import 'font';
@import 'buttons';

global-margin-right=4%

body.up {
    transition: .1s
}

#home {

    .date-selection {
        background: dark-blue
        overflow: hidden
        transition: .2s
        transition-property: height

        .hint {
            opacity: 0
        }

        li {
            height: 100%
            color: grey-dark
            line-height: 4
            width: 33.3%
            float: left
            font-size: 16px
            text-align: center
            position: relative

            &.selected {
                color: #FFF

                .hint {
                    opacity: 1
                    transition: 0.4s
                    position: absolute
                    left: 0
                    right: 0
                    bottom: 0
                    background: blue
                    height: 8%
                }
            }
        }
    }

    .request {

        li {
            position: relative
        }

        input[type=date], input[type=time] {
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: 0
            opacity: 0
        }

        .date {
            display: none;

            &.other {
                display: flex
            }
        }

        .submit {
            .go {
                position: absolute
                top: 0
                height: 100%
                width: 16px
                right: global-margin-right
                forward_button(false)
            }
        }
    }

    .search {
        position: relative
        background: #FFF
        border-top: 10px solid grey-blue

        form {
            .input {
                position: relative
                z-index: 2
                width: 100%
                border-top: 1px solid grey-blue

                &.animating {
                    position: absolute
                    z-index: 1

                    &.start {
                        transition: 0.2s
                    }

                    &.end {
                        transition: 0.1s
                     }

                    &.above {
                        z-index: 3
                    }
                }

                &:last-child {
                    border-bottom: 10px solid grey-blue
                }

                input {
                    padding-right: 30px

                    &[name=start] {
                    }

                    &[name=end] {
                    }
                }

                button.reset {
                    position: absolute
                    display: none
                    top: 0
                    height: 100%
                    reset_button()
                    right: global-margin-right

                    &.filled {
                        display: block
                    }
                }
            }
        }
    }

    #wrapper {
        overflow: hidden
        position: absolute
        width: 100%
        bottom: 0

        .suggestions {
            position: absolute
            width: 100%

            li {
                > span {
                    line-height: 1px
                }

                .match {
                    color: dark-blue
                }
            }
        }
    }
}