@import 'colors';
@import 'font';

#home {

    .when {
        position: absolute
        background: #F0F0F0
        width: 100%
        top: 0
        z-index: -1
        transition: 0.250s
        padding-top: 15px
        padding-bottom: 10px
        text-align: center

        .date {
            display: flex
            justify-content: center

            .btn {
                margin-left: 5px
                margin-right: 5px

                &.other {
                    padding: 5px
                    position: relative

                    input[type=date] {
                        margin: 0
                        padding: 0
                        opacity: 0
                        position: absolute
                        top: 0
                        left: 0
                        right: 0
                        bottom: 0
                    }
                }
            }
        }

        .btn.go {
            margin-top: 15px
        }

        &.displayed {
            z-index: 1
        }
    }

    .search {
        background: #FFF
        padding-top: 15px

        form {
            .input {
                position: relative

                input {
                    padding-right: 30px
                }

                button.reset {
                    border: none
                    outline: none
                    background: transparent
                    display: none

                    &.filled {
                        display: block
                    }

                    &:before {
                        color: #525252
                        position: absolute
                        top: 9px
                        right: 10px
                        content: 'X'
                    }
                }

                &:not(first-child) {
                    margin-top: 17px
                    margin-bottom: 17px
                }
            }
        }
    }

    .stations {
        border-top: 1px solid grey-dark

        h2 {
            padding-top: 13px
            padding-bottom: 13px
            box-sizing: border-box
            display: none
            margin: 0 auto
            color: blue
            width: 100%
            border-bottom: 1px solid grey-light
            text-align: center
        }
    }

    .stations.searching {
        position: relative

        h2 {
            display: block
        }
    }

    #wrapper {
        overflow: hidden
        position: absolute
        width: 100%

        .suggestions {
            position: absolute
            width: 100%

            li {
                .match {
                    font-weight: bold
                }
            }
        }
    }
}