@import 'colors';
@import 'font';
@import 'buttons';

button-margin-right=4%

#home {

    #schedule {
        position: absolute
        width: 100%
        top: -200px
        z-index: -1
        transition: 0.600s
        text-align: center

        &.displayed {
            z-index: 1
        }

        li {
            position: relative

            &.submit {
                .go {
                    position: absolute
                    right: button-margin-right
                    top: 0
                    height: 100%
                    width: 16px
                    forward_button(false)
                }
            }

            &.enabled {
                color: dark-blue

                .go {
                    forward_button(true)
                }
            }
        }
    }

    .search {
        position: relative
        background: #FFF

        form {
            .input {
                position: relative
                z-index: 2
                width: 100%

                &.animating {
                    position: absolute
                    z-index: 1

                    &.start {
                        transition: 0.2s
                    }

                    &.end {
                        transition: 0.1s
                    }

                    &.above {
                        z-index: 3
                    }
                }

                &:not(:first-child) {
                    border-top: 2px solid grey-blue
                }

                &:last-child {
                    border-bottom: 10px solid grey-blue
                }

                input {
                    padding-right: 30px
                }

                button.reset {
                    position: absolute
                    display: none
                    top: 0
                    right: button-margin-right
                    height: 100%
                    width: 22px
                    reset_button()

                    &.filled {
                        display: block
                    }
                }
            }
        }
    }

    #wrapper {
        overflow: hidden
        position: absolute
        width: 100%
        bottom: 0

        .suggestions {
            position: absolute
            width: 100%

            li {
                > span {
                    line-height: 1px
                }

                .match {
                    color: dark-blue
                }
            }
        }
    }
}