@font-face {
    font-family: 'Fontello'
    src: url('../../fonts/fontello/fontello.woff') format('woff')
    font-weight: normal
    font-style: normal
}

icon(name, color = black) {
    &:before {
        font-family: 'Fontello'
        color: color
        display: block

        if name is 'left-arrow' {
            content: '\e800'
        }

        if name is 'right-arrow' {
            content: '\e801'
        }

        if name is 'clock' {
            content: '\e802'
        }

        if name is 'calendar' {
            content: '\e803'
        }
    }
}
