@font-face {
    font-family: 'Fontello'
    src: url('../../fonts/fontello.woff') format('woff')
    font-weight: normal
    font-style: normal
}

icon(name, width, height, color = black, font-size = 12px)
    &:before
        font-family: 'Fontello'
        color: color
        display: block
        width: width
        height: height
        line-height: height

    if name is 'left-arrow'
        &:before
            content: '\e800'
            font-size: font-size
