body {
    &.ios7 {
        #splashscreen {
            top: 20px
        }

        header {
            margin-top: 20px
        }

        .when {
            top: 20px !important
        }

        #viewport {
            top: 64px
        }
    }
}