#splashscreen {
    display: flex
    align-items: center
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 3
    background: #FFF

    .middle {
        margin: auto
        text-align: center
    }

    h1 {
        font-size: 24px
        font-weight: bold
    }

    .progress {
        margin-top: 10px
        font-size: 22px
        font-weight: lighter
    }
}