@import 'colors';
@import 'icons';
@import 'font';
@import 'common';

#timetable {
    h2 {
        position: relative
        padding-top: 13px
        padding-bottom: 13px
        box-sizing: border-box
        width: 100%
        margin: 0 auto
        color: blue
        border-bottom: 1px solid grey-light
        text-align: center
        background: #FFF
        z-index: 2
    }

    #wrapper {
        background: grey-blue
        position: absolute
        width: 100%
        overflow: hidden
        bottom: 0

        #scroller {
            position: absolute
            width: 100%
        }

        .not-found {
            display: none
            padding-top: 50%
            text-align: center
        }

        

        ul {
            > li {
                padding: 2.7% 0 2.7% 0
                border-bottom: 2px solid grey-blue
                box-sizing: border-box
                color: dark-blue
                padding: 0 global-margin-right 0 global-margin-right
                background: #FFF

                .meta {
                    position: relative
                    font-size: 18px
                    padding: 3% 0 3% 0

                    .changements {
                        color: grey-light
                        icon_batch('split', grey-light)
                    }

                    .duration {
                        position: absolute
                        right: 0

                        .egg-timer {
                            icon_monstr('duration', grey-light)
                        }
                    }
                }

                .start-end {
                    width: 100%
                    font-size: 32px
                    padding: 2% 0 2% 0

                    span:not(:last-children) {
                        margin-right: 2%
                    }
                }

                .alarm-clock {
                    color: grey-light
                    icon_batch('alarm-clock', grey-light)
                    font-size: 23px
                }

                .to {
                    icon_cheminot('arrow-right', blue)
                    font-size: 23px;
                    margin: 0 1% 0 5%
                }
            }
        }

        .pull-up {
            display: none
            align-items: center
            justify-content: center
            align-items: center
            padding: 4% 0 4% 0

            &.visible {
                display: flex
            }

            .indicator {
                icon_batch('arrow-up', 18px, 18px);
                transform: rotate(0) translateZ(0)
            }

            .label {
                margin-left: 10px
            }

            &.flip .indicator {
                transform: rotate(-180deg) translateZ(0)
            }

            &.loading .indicator {
                transform: rotate(0deg) translateZ(0);
                transition-duration: 0ms;
                animation-name: loading;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            &.flip {
            }
        }
    }
}

@-webkit-keyframes loading {
    from { transform: rotate(0deg) translateZ(0) }
    to { transform:rotate(360deg) translateZ(0) }
}
