@import 'colors';
@import 'font';

#trip {

    .title {
        display: flex
        align-items: center

        > div {
            margin: 0 auto
            display: inline-block

            > span {
                display: inline-block
            }

            .to {
                icon_cheminot('arrow-right', blue)
            }
        }
    }

    #wrapper {
        position: absolute
        bottom: 0
        width: 100%
        overflow: hidden
    }

    .stops {
        padding-left: 10%
        position: absolute
        width: 100%

        > li {
            height: 66px
            display: flex
            align-items: center

            .stop, .at {
                display: inline-block
            }

            .waiting {
                margin-top: 4px
                display: block
            }

            .at {
                position: relative
                width: 15%
                color: grey-dark
                text-align: right
                icon_batch('alarm-clock', grey-dark)

                &:before {
                    position: absolute
                    left: -3px
                }
            }

            .lign {
                height: 100%
                position: relative
                padding-left: 20px
                margin-left: 20px
                border-left: 4px solid dark-blue

                &:before {
                    content: ''
                    position: absolute
                    left: -12px
                    top: 36%
                    display: inline-block
                    border-radius: 50%
                    height: 20px
                    width: 20px
                    background: blue
                }

                &:after {
                    content: ''
                    position: absolute
                    left: -7px
                    top: 44%
                    display: inline-block
                    border-radius: 50%
                    height: 10px
                    width: 10px
                    background: white
                }
            }

            .stop {
                .name {
                    color: grey-dark
                }

                .waiting {
                    color: grey-light
                }
            }
        }
    }
}