@import 'colors';
@import 'font';

#trip {
    h2 {
        padding-top: 13px
        padding-bottom: 13px
        box-sizing: border-box
        margin: 0 auto
        color: blue
        border-bottom: 1px solid grey-light
        text-align: center
        background: #FFF
        z-index: 2
        position: relative
    }

    #wrapper {
        position: absolute
        width: 100%
        overflow: hidden

        ul {
            position: absolute
            width: 100%

            > li {
                text-align: center
            }
        }
    }
}