<?xml version='1.0' encoding='utf-8'?>
<widget id="cheminot.m" version="0.0.1" versionCode="1404" versionName="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cheminot.m</name>
    <description></description>
    <author email="sre@cheminot.m" href="http://cordova.io">sre</author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="phonegap-version" value="3.4.0"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <feature name="Keyboard">
      <param name="ios-package" value="CDVKeyboard" onload="true" />
    </feature>
</widget>

