@import 'reset';
@import 'colors';
@import "fonts";
@import 'buttons';
@import 'icons';
@import 'devices';
@import 'header';
@import 'home';
@import 'departures';
@import 'trip';

global-reset()

#viewport {
    background: grey

    .view.hidden {
        display: none
    }
}
