<section class="view hidden" id="home">
  <ul id="schedule" class="list">
    <li class="today">Aujourd'hui</li>
    <li class="tomorrow">Demain</li>
    <li class="other">Autre</li>
    <li class="submit">Rechercher horaires<button class="go"></button></li>
  </ul>
</div>
<div class="setup-progress hidden">
  <p class="text">Mise à jour des horaires<span class="value">0%</span></p>
  <div class="bar"></div>
</div>
<div class="search">
  <form>
    <div class="input">
      <input name="start" type="text" placeholder="Départ" />
      <button type="button" class="icon reset"></button>
    </div>
    <div class="input">
      <input name="end" type="text" placeholder="Arrivée" />
      <button type="button" class="icon reset"></button>
    </div>
  </form>
</div>
<div class="stations">
  <div id="wrapper">
    <ul class="suggestions list"></ul>
  </div>
</div>
</section>
